/*
 * Duke Compute Cluster (DCC) custom config for nf-core/rnaseq
 * SLURM scheduler + Apptainer containers 
 *
 * My internal:
 * export APPTAINER_CACHEDIR=/work/nfb9/apptainer_cache
 * export SINGULARITY_CACHEDIR=/work/nfb9/apptainer_cache  # belt + suspenders for older aliases
 * mkdir -p "$APPTAINER_CACHEDIR"
 *
 */
params {
  config_profile_description = 'DCC SLURM + Apptainer profile for nf-core/rnaseq (custom, unofficial)'
  config_profile_contact     = 'nick.brazeau@eduke.edu'
  dcc_partition = 'common'
  dcc_account   = 'cagpm'
}

process {
  executor = 'slurm'
  queue    = params.dcc_partition
  clusterOptions = params.dcc_account ? "--account=${params.dcc_account}" : null

  errorStrategy = { task.exitStatus in [104,134,137,139,143,247] ? 'retry' : 'finish' }
  maxRetries    = 2

  resourceLimits = [
    cpus: 32,
    memory: 128.GB,
    time: 72.h
  ]
}

executor {
  queueSize       = 50
  submitRateLimit = '10/1min'
  pollInterval    = '30 sec'
}

// Container engine: apptainer
apptainer {
  enabled    = true
  autoMounts = true
  // runOptions = '-B /datacommons'
}
singularity.enabled = false
docker.enabled       = false



// ---------------------------------------------------------------------
// Work directory (scratch space)
// ---------------------------------------------------------------------
workDir = '/work/nfb9/projects/prometheus/work'
